<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/sha-256.js"></script>
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                @Html.ActionLink("首頁", "Index", "Home", new { }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <li>@Html.ActionLink("查看展場資訊", "Index", "Home", new { }, new { @class = "nav-link" })</li>

                        <li class="nav-item">
                        <li>@Html.ActionLink("用戶", "Index", "users", new { }, new { @class = "nav-link" })</li>

                        <li class="nav-item">
                        <li>@Html.ActionLink("參展商", "Index", "exhibitors", new { }, new { @class = "nav-link" })</li>
                        <li class="nav-item">
                        <li>@Html.ActionLink("主辦方", "Index", "hosts", new { }, new { @class = "nav-link" })</li>
                    </ul>
                    @{
                        if (@HttpContext.Current.Session["UserRole"].ToString() == "Visitor")
                        {
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        註冊
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li>@Html.ActionLink("用戶註冊", "userRegister", "Home", new { }, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("參展商註冊", "ExhibitorRegister", "Home", new { }, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("主辦方註冊", "hostRegister", "Home", new { }, new { @class = "dropdown-item" })</li>

                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        登入
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li>@Html.ActionLink("用戶登入", "userLogin", "Home", new { }, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("廠商登入", "ExhibitorLogin", "Home", new { }, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("主辦登入", "hostLogin", "Home", new { }, new { @class = "dropdown-item" })</li>

                                    </ul>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                <li>@Html.ActionLink("登出", "Logout", "Home", new { }, new { @class = "nav-link" })</li>
                            </ul>
                        }
                    }



                </div>
            </div>
        </nav>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
